{% extends "layout.html" %}

{% block title %}Index{% endblock title %}

{% block body %}

<h2>New image for classification</h2>

<form action="{{ url_for('new') }}" method=POST enctype=multipart/form-data>

<dl>
    
<dt>File
    <dd><input type=file name=photo>

<dt>Caption
    <dd><textarea name=caption rows=3 cols=40></textarea>

</dl>

<p><input type=submit value=Post>

</form>

<form action="{{ url_for('new_url') }}" method=POST>
<dl>
<dt>New image url
<dt><input type=text name='url' size=40 \>
<p><input type=Submit value='Get file from Url'>
</p>

</dl>
</form>

{% endblock body %}
